/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

/* STYLES FOLLOW */

@font-face {
font-family: HelveticaNeue;
src: url('../fonts/HelveticaNeue.ttf') format('ttf');
}

html, body, #container {
     height: 100%;
     font-size: 16px; /* This sets a font-size constant, so with em you can control all font sizes */
}

body {
     background-color: #444;
     font-family: HelveticaNeue, Arial, sans-serif; /* Import Helvetic Neue Medium, etc. */
}

#container {
     background-color: #222;
	max-width: 960px;
     margin: 0 auto;
     position: relative;
}

header {
     width: 100%;
     height: 10%;
     background-color: #111;
     opacity: 0.7;
}

header h1 {
     color: lime;
     font-size: 3em;
     font-family: Helvetica, Arial, sans-serif; /* Import Helvetica Neue Bold later */
     padding: 10px 15px;
     float: left;
}

header img {
     width: 100px;
     float: left;
     margin: 1%;
}

#input {
     width: 100%;
     overflow: hidden;
}

#input input {
     width: 13%;
     height: 2em;
     float: left;
     margin: 1% 3%;
     background-color: #333;
     border: #ccc 1px solid;
     padding-left: 0.5%;
     font-weight: 800;
     font-size: 0.9em;
     text-transform: uppercase;
}

#input input:hover {
     border: #c90 1px solid;
}

#firstsymbol {
     color: #930;   /* TICKER 1 COLOR */
}

#secondsymbol {
     color: #606;   /* TICKER 2 COLOR */
}

#error {
     float: left;
     color: #727272;
     font-size: 1.2em;
     padding-top: 1.5%;
}

#error #errorsymbol {
     color: #999;
     margin-right: 0.2em;
     text-transform: uppercase;
}

#main {
     float: left;
     width: 60%;
     height: 100%;
     margin: 2% 0% 2% 2%;
}

#content {
     height: 50%;
     border: solid 0.1em #888;
     background-color: #555;
     padding: 2%;
}

#chartsettings {
     float: left;
     border: solid 0.1em #888;
     background-color: inherit;
     min-height: 7%;
     width: 100%;
     margin-top: 1%;
     position: relative;
}

#labels {
     margin: 1%;
     margin-left: 10%;
     color: #666;
}

#labels span {
     margin-left: 18%;
}

#datesettings {
     float: left;
     width: 100%;
}

#datesettings>div {
     width: 24.3%;
     border-radius: 5px;
     color: blue;
     background-color: inherit;
}

#datesettings>div.selected {
     font-weight: bold;
     color: cyan;
}

.stock {
     float: left;
     width: 12%;
     margin: 0.2%;
     color: #111;
     text-align: center;
     padding: 2%;
     font-weight: bold;
}

#ticker1 {
     margin-right: 3%;
     color: #930;
}

#ticker2 {
     position: absolute;
     right: 0.1%;
     color: #606;
}

.control {
     float: left;
     width: 17%;
     padding: 2%;
     margin: 0.3%;
     text-align: center;
     color: white;
     font-size: 0.7em;
}

.control:hover {
     cursor: pointer;
}

#chartsettings>.control.active {
     background-color: #333;
}

aside {
     width: 34%;
     float: left;
     margin: 2%;
}

section {
     width: 100%;
     height: 40%;
     margin-bottom: 4%;
     background-color: #333;
}

section h2 {
     border-top: solid 0.05em #888;
     width: 100%;
     color: rgba(33, 255, 33, 0.6
     );
     font-size: 1.8em;
     padding: 1% 2.5%;
     background-color: #444;
}

section ul {
     height: 20%;
}
/*
section ul li {
     font-size: 1em;
     color: rgba(99, 212, 99, 0.7);
}
*/
section ul li h3 {
     margin: 2%;
     font-size: 1.2em;
     color: rgba(33, 255, 33, 0.7);
}

section ul li p {
     margin: 1% 2%;
     font-family: Helvetica, Arial, sans-serif; /* Change to Helvetica Neue Light later */
}

aside input {
     width: 38%;
     height: 2em;
     margin: 1% 3%;
     background-color: #777;
     border: #ccc 1px solid;
     padding-left: 2%;
     font-weight: 800;
     font-size: 0.9em;
     text-transform: uppercase;
}

footer {
/*     position: absolute;*/
     bottom: 0px;
     height: 20px;
     width: 100%;
     background-color: #333;
     opacity: 0.7;
}